<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>control</servlet-name>
        <servlet-class>com.andri.controller.control</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>control</servlet-name>
        <url-pattern>/control</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>ProdiControl</servlet-name>
        <servlet-class>com.andri.controller.ProdiControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProdiControl</servlet-name>
        <url-pattern>/ProdiControl</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>AdminControl</servlet-name>
        <servlet-class>com.andri.controller.AdminControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminControl</servlet-name>
        <url-pattern>/AdminControl</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>DosenControl</servlet-name>
        <servlet-class>com.andri.controller.DosenControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DosenControl</servlet-name>
        <url-pattern>/DosenControl</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>MahasiswaControl</servlet-name>
        <servlet-class>com.andri.controller.MahasiswaControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MahasiswaControl</servlet-name>
        <url-pattern>/MahasiswaControl</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>TAControl</servlet-name>
        <servlet-class>com.andri.controller.TAControl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>TAControl</servlet-name>
        <url-pattern>/TAControl</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
